/* Core */
@import 'sanitize.css';

/* Instruments */
@import './palette';
@import './globals';

/* Components */
@import './components/header';
@import './components/content';
@import './components/profile';
@import './components/stories';
@import './components/story';
@import './components/images';
@import './components/image';
@import './components/footer';
