@import '../breakpoints';
@import '../palette';

.footer {
    display: flex;
    flex-direction: column;
    max-width: 930px;
    margin: 0 auto 0;
    padding: 38px 55px 38px 75px;
    box-sizing: content-box;

    & ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;

        & li {
            margin-right: 16px;

            & a {
                color: var(--paletteColor7);
                text-decoration: none;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }

    & span {
        color: var(--rgbColor1);
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
        padding: 38px 55px;

        & ul {
            justify-content: center;

            & li {
                margin-bottom: 7px;
            }
        }

        & span {
            text-align: center;
        }
    }
}
