@import '../breakpoints';

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 930px;
    margin: 25px auto 20px;

    & div {
        & a {
            display: inline-block;
            width: 176px;
            height: 35px;
            margin-top: -7px;
            background-image: url('./assets/images/instagram-logo.png');
            background-repeat: no-repeat;
            background-size: 176px 35px;
            cursor: pointer;
        }
    }

    & input {
        min-width: 215px;
        height: 28px;
        border: 1px solid var(--paletteColor3);
        border-radius: 3px;
        padding: 5px 10px 3px 26px;
        margin-top: 1px;
        font-size: 14px;
        color: var(--paletteColor4);
        background-image: url('./assets/images/search.png');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: 10px 50%;
        box-sizing: border-box;
    }

    & nav {
        display: flex;
        justify-content: flex-end;
        padding-top: 3px;

        & a {
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        & .explore {
            background-image: url('./assets/images/explore.png');
            background-size: 20px 20px;
            margin-right: 35px;
        }

        & .likes {
            background-image: url('./assets/images/likes.png');
            background-size: 20px 20px;
            margin-right: 35px;
        }

        & .settings {
            background-image: url('./assets/images/settings.png');
            background-size: 20px 20px;
        }
    }

    @media (--phonePortrait), (--phoneLandscape) {
        flex-direction: column;

        & div {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

        & input {
            margin-bottom: 15px;
        }

        & nav {
            justify-content: center;
        }
    }

    @media (--tabletPortrait) {
        max-width: 750px;
    }
}
