.photo {
    max-width: 293px;
    max-height: 293px;
    cursor: pointer;
    margin-bottom: 20px;

    @media (--phonePortrait) {
        max-width: 100px;
        max-height: 100px;
        padding: 5px;
    }

    @media (--phoneLandscape) {
        max-width: 130px;
        max-height: 130px;
        padding: 7px;
    }

    @media (--tabletPortrait), (--tabletLandscape) {
        max-width: 170px;
        max-height: 170px;
        padding: 7px;
    }
}
