@import '../breakpoints';

.profile {
    display: flex;
    justify-content: center;
    margin: 57px auto 45px;
    max-width: 930px;
    border-bottom: 1px solid var(--paletteColor6);

    & img {
        width: 152px;
        height: 152px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, .1);
        margin: 0 95px 25px 70px;
        cursor: pointer;
    }

    & div {
        & .nickname {
            font-size: 32px;
            line-height: 40px;
            font-weight: 200;
            margin-top: 5px;
            margin-bottom: 18px;

            & span {
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 18px;
                    background-image: url('./assets/images/confirmed.png');
                    top: 14px;
                    right: -27px;
                }
            }
        }

        & .stats {
            font-size: 20px;
            margin-bottom: 20px;
            padding-left: 3px;

            & span {
                & span:nth-child(odd) {
                    font-weight: 700;
                }

                & span:nth-child(even) {
                    margin-right: 30px;
                }
            }
        }

        & .name {
            font-size: 20px;
            font-weight: 500;
        }
    }

    @media (--phonePortrait), (--phoneLandscape), (--tabletPortrait), (--tabletLandscape) {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;

        & img {
            width: 77px;
            height: 77px;
            margin: 0 0 25px 0;
        }

        & div {
            & .nickname {
                font-size: 32px;
                font-weight: 500;
                text-align: center;
            }

            & .stats {
                display: flex;
                flex-direction: column;
                text-align: center;

                & > span {
                    margin-bottom: 9px;

                    & span:nth-child(even) {
                        margin-right: 0;
                    }
                }
            }

            & .name {
                text-align: center;
            }
        }
    }
}
