@import '../breakpoints';

.profile {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 930px;
    border-bottom: 1px solid var(--paletteColor6);
    padding: 50px 60px;

    & .avatar {
        box-sizing: content-box;
        margin: 0 89px 44px 0px;
        cursor: pointer;
        width: 161px;
        height: 161px;
        border: 3px inset transparent;
        border-radius: 50%;
        background-image: linear-gradient(white, white),
            radial-gradient(
                circle at top right,
                var(--paletteColor8),
                var(--paletteColor9)
            );
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    & .main {
        padding-top: 6px;
        padding-left: 3px;
        margin-bottom: 25px;

        & .nickname {
            margin-bottom: 22px;
            font-size: 32px;
            font-weight: 200;
            line-height: 40px;

            & span {
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 18px;
                    background-image: url('./assets/instagram/confirmed.png');
                    top: 11px;
                    right: -25px;
                }
            }
        }

        & .stats {
            margin-bottom: 25px;

            & span {
                & span:nth-child(odd) {
                    font-weight: 600;
                }

                & span:nth-child(even) {
                    margin-right: 40px;
                }
            }
        }

        & .name {
            font-size: 16px;
            font-weight: 600;
        }
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 35px 15px;

        & .avatar {
            width: 77px;
            height: 77px;
            margin: 0 0 25px 0;
        }

        & .main {
            & .nickname {
                font-size: 32px;
                font-weight: 500;
                text-align: center;
            }

            & .stats {
                display: flex;
                flex-direction: column;
                text-align: center;

                & > span {
                    margin-bottom: 9px;

                    & span:nth-child(even) {
                        margin-right: 0;
                    }
                }
            }

            & .name {
                text-align: center;
            }
        }
    }
}
